IdentityFile ~/.ssh/id_rsa1
IdentityFile ~/.ssh/id_rsa2

host server1
  hostname server1.ids.unimaas.nl
  user vemonet
  identityfile ~/.ssh/id_rsa1

host server2
  hostname server2.ids.unimaas.nl
  user vemonet
  identityfile ~/.ssh/id_rsa2

# nmap -sn 192.168.1.0/24 to get devices on network
host raspberrypi
  hostname 192.168.1.65
  user pi
  identityfile ~/.ssh/id_rsa1
